@font-face {
  font-family: roboto;
  src: url(./fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: lobster;
  src: url(./fonts/Lobster-Regular.ttf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px dotted yellow; */
  font-family: roboto;
  color: white;
}


body{
  background: linear-gradient(rgb(51, 0, 0, 0.8), transparent), url(./images/background.png) ;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 5px;
}

.wrapper {
  width: 80%; 
  margin-inline: auto;
  margin-top: 3rem;
}

.top {
  display: flex; 
  justify-content: space-between;
}

.top .name {
  flex: 1;
}

.top .tabs {
  flex: 1; 
}
.top .tabs ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.tabs ul li a {
  font-weight: lighter;
  text-decoration: none;
  font-size: 1.1rem;

}

.content {
  display: flex;
  margin-top: 5rem;
}

.content .title {
  flex: 2;
}

.content .form {
  flex: 1;
}

h1.name span {
  color: #ED9B1C;
}


.content .title h1{
  font-size: 5rem;
}


.content .title h1 span{
    color: #ED9B1C;
}


.content .title h1 span{
    color: #ED9B1C;
}

.content .title p{
    margin-block: 3rem;
}

.content .title a{
    text-decoration: none;
    color: #ED9B1C;
    border: 2px solid #ED9B1C;
    padding: 5px 15px;
    font-size: 1.2rem;
}


.form h1 {
  background-color: #ED9B1C;
  font-family: lobster;
  color: #330000;
  padding: 10px;
  text-align: center;
}

.form form button {
  font-size: 1.5rem;
  background-color: #ED9B1C;
  color: #330000;
  border: none;
  padding: 5px;
  width: 100%;
  text-align: center;

}

.form form button img{
  width: 32px;
}

.form {
  border: 2px solid #ED9B1C; 

  background-color: rgba(51, 0, 0, .5);
}


